# Fabric crypto material (DO NOT COMMIT)
organizations/
crypto-config/
msp/
wallet/
tls/

# Ledger / generated artifacts
*.block
*.tx
*.tar
*.tar.gz
ledger/

# Docker runtime files
docker-compose.override.yml

# Environment files
.env

# Node modules (if any app exists later)
node_modules/
# Go build output
chaincode/chaincode

#sample tests
backend/test-ipfs.js
backend/test.pdf

